.contacts {
    position: relative;
    width: 100%;
    height: 100vh;
}

.name-of-page h1 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10vh;
    text-align: center;
    margin-top: 12vh;
}

.name-of-page {
    position: absolute;
    left: 5%;
    top: 0%;
}

.subscribe-image {
    width: 5.5vw;
    height: 5.5vw;
    position: absolute;
    right: 36.2%;
    top: 31%;
}

.rotate-subsrcibe-image{
    width: 18vw;
    height: 18vw;
    position: absolute;
    right: 30%;
    top: 20%;
    animation: rotate 10s linear infinite
}

@keyframes rotate{
    100% {
    transform: rotate(-360deg)
    }
}

.portrait-left-contacts img {
    width: 25%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.portrait-right-contacts img {
    width: 23%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.dialog-contacts-1 a {
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vh;
}

.dialog-contacts-2 a {
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vh;
}

.dialog-contacts-left {
    width: 22%;
    position: absolute;
    left: 20%;
    bottom: 35%;
}

.dialog-contacts-right {
    width: 25%;
    position: absolute;
    right: 25%;
    bottom: 12%;
}

.instagram {
    width: 3vw;
}

.telegram {
    width: 5vh;
}

.instagram-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25.5%;
    bottom: 52%;
}

.instagram-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30%;
    bottom: 22%;
}

.telegram-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25.5%;
    bottom: 46%;
}

.telegram-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 33.8%;
    bottom: 16%;
}
