.trend-with-name {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.trend {
    width: 100%;
    height: 100%;
}

.trend p{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.8vh;
    line-height: 100%;
    text-align: center;
    margin-top: 0px;
}

.trend img {
    width: 100%;
    transition: 1.5s;
    border: 2px solid black;
}

.trend img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.name-of-trend p {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5vh;
    font-size: 9.2vh;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.2);
}

.name-of-trend {
    position: absolute;
    bottom: 0px;
}

.portrait {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 22%;
    height: 45vh;
}

.dialog-window-small img {
    position: absolute;
    left: 6%;
    bottom: 34%;
    width: 25%;
    height: 31vh;
}

.dialog-window-big img {
    position: absolute;
    left: 4%;
    bottom: 33%;
    width: 28%;
    height: 37vh;
}

.dialog-window-small p {
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.2vh;
    line-height: 100%;
    position: absolute;
    left: 7.5%;
    bottom: 51%;
    width: 22%;
    text-align: center;
}

.dialog-window-big p {
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.1vh;
    line-height: 100%;
    position: absolute;
    left: 7.5%;
    bottom: 51%;
    width: 22%;
    text-align: center;
}