.use-of-trends {
    position: relative;
    width: 100%;
    height: 100vh;
}

.horizontal-slider {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 2vh;
    left: 5vw;
}

.slides {
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 56vw;
}

.slide {
    position: absolute;
    left: 70%;
    pointer-events: none;
}

.chevron-left {
    transform: rotate(180deg);
    width: 5vw;
}

.chevron-right {
    width: 5vw;
}

.chevron {
    background-color: unset;
    border: unset;
}

.vertical-slider {
    margin: 0;
    position: absolute;
    bottom: 2vh;
    right: 5vw;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reference {
    position: absolute;
    right: 5%;
    bottom: 25%;
    pointer-events: none;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ref {
    height: 50vh;
}

.reference p {
    color:black;
    margin-top: 1vh;
}

.looks {
    position: absolute;
    left: 8%;
    bottom: 5%;
    width: 25vw;
}

.look {
    width: 25vw;
}




